body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  background-color: #ffffff;
}

.grid {
  display: grid;
  grid-gap: 64px;
}

.grid-3-columns-narrow-first {
  grid-template-columns: 1fr 2fr 2fr;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 80px;
}

section.secondary {
  background: #f8f8f8;
}

.text-center {
  text-align: center;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/oaxaca-flags.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  text-align: center;
  padding: 200px 0;
}

header h1 {
  font-size: 96px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0em;
  margin: 30px 0;
}

header h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0em;
  margin: 0;
}

header h3 {
  font-size: 24px;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}

header a {
  background: #ffffff;
  color: #272044;

  padding: 16px 32px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 32px;
}

main {
  color: #272044;
}

.img-resp {
  max-width: 100%;
  display: block;
}

main h2 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 5px;
  text-transform: uppercase;
  opacity: 0.3;
  margin: 0;
}

main h3 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0em;
  margin: 0;
}

main h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0em;
  margin: 0;
}

main h5 {
  font-size: 13px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0em;
  margin: 0;
}

main p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0px;
  opacity: 0.7;
}

.card {
  background-color: #ffffff;
  margin: 30px 0;
}

.card-body {
  padding: 30px;
}

.card-footer {
  padding: 30px 0 10px;
}

.btn {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 3px;
  text-align: center;
  background: #462cb2;
  padding: 16px 32px;
  text-decoration: none;
}

footer {
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.8),
      rgba(39, 32, 68, 0.8)
    ),
    url("../images/oaxaca-handmade.avif");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}

footer h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0em;
}

footer p,
footer a {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0px;
  opacity: 0.7;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
}

footer a {
  color: #ffffff;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }

  section {
    padding: 30px;
  }
}
